<form action="/order" method="post">
  <label for="orderTitle">Item ordered</label>
  <input id="orderTitle" name="orderTitle" type="text">
  <label for="description">Description of Order</label>
  <input for="description" name="description" type="text">
  <label for="orderPrice">Price of order:</label>
  <input for="orderPrice" name="orderPrice" type="number">
  <label for="orderDate">Date of order</label>
  <input for="orderDate" name="orderDate" type="date">
  <button type="submit">Submit</button>
</form>